<header>
  <div class="headerwrapper">
    <div class="header-left">
      <div class="ml-2 mt-2">
        <button type="button" class="btn btn-outline-light">
          Online GRADER - Programación Competitiva
        </button>
      </div>
    </div>
    <div class="header-right">
      <div class="mr-2 mt-2">
        <button class="btn btn-danger" (click)="cerrarSesion()">
          <span><i class="fa fa-sign-out" aria-hidden="true"></i> </span> Cerrar
          Sesión
        </button>
      </div>
    </div>
    <!-- header-right -->
  </div>
  <!-- headerwrapper -->
</header>
