<div class="" id="page-wrapper">
  <div class="container-fluid">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crear Tarea</h4>
        <button
          type="button"
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="form-group">
            
            <label for="nombre">Nombre</label>
            
            <input
              formControlName="nombre"
              type="text"
              class="form-control"
              id="nombre"
              placeholder="ICA X.X"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Grupo</label>
            <select class="form-control" id="exampleFormControlSelect2" formControlName="materia" required>
              <option *ngFor="let group of myGroups" [value]="group.crn">{{group.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">Lenguaje</label>
            <select class="form-control" id="exampleFormControlSelect3" formControlName="lenguaje" required>
              <option *ngFor="let language of languages" [value]="language.language_id">{{language.language}}</option>
            </select>
          </div>
          <div class="row">  
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlInput1">Intentos</label>
                <input
                type="number"
                class="form-control"
                id="exampleFormControlInput2"
                placeholder="0"
                formControlName="intentos" 
                min = "0"
                required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlInput1">Runtime (segundos)</label>
                <input
                type="number"
                class="form-control"
                id="exampleFormControlInput2"
                placeholder="0"
                formControlName="runtime"
                placeholder="0.00" step="1.00" min="0.00" max="99.99"
                required
                />
              </div>
            </div>
          </div>
            <div class="row">  
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlFile">Carpeta zip</label>
                  <input
                    id="exampleFormControlFile"
                    type="file"
                    class="form-control-file"
                    (change)="onFileChange($event)"
                    required
                  />
              </div>
            </div>
            
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlFile2">PDF con instrucciones</label>
                  <input
                    id="exampleFormControlFile2"
                    type="file"
                    class="form-control-file"
                    (change)="onFileChange2($event)"
                    required
                  />
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="datePicker1">Fecha Apertura</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="dateOpen"
                    [ngModelOptions]="{ standalone: true }"
                    ngbDatepicker
                    #d2="ngbDatepicker"
                    formControlName="fechaApertura" 
                    required
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="d2.toggle()"
                      type="button"
                    >
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary mr-2 mt-1"
                  (click)="selectToday()"
                >
                  Hoy
                </button>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="datePicker2">Fecha Clausura</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="dateClose"
                    [ngModelOptions]="{ standalone: true }"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    formControlName="fechaClausura" 
                    required
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="d.toggle()"
                      type="button"
                    >
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary mr-2 mt-1"
                  (click)="oneDay()"
                >
                  1 Dia
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary mr-1 mt-1"
                  (click)="threeDays()"
                >
                  3 Dias
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary mr-1 mt-1"
                  (click)="oneWeek()"
                >
                  1 Semana
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlFile1">Hora Apertura</label>
                <ngb-timepicker
                  [(ngModel)]="time"
                  [ngModelOptions]="{ standalone: true }"
                ></ngb-timepicker>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlFile1">Hora Clausura</label>
                <ngb-timepicker
                  [(ngModel)]="timeEnd"
                  [ngModelOptions]="{ standalone: true }"
                ></ngb-timepicker>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid"> Submit </button>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          ngbAutofocus
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Guardar
        </button>
      </div>
    </ng-template>
    <div class="row row-stat">
      <div class="table-responsive m-3">
        <div class="d-flex justify-content-between">
          <div class="p-2"><h3>Tareas Activas</h3></div>
          <div class="p-2">
            <button
              type="button"
              class="btn btn-lg btn-outline-success"
              (click)="open(content)"
            >
              <i class="fa fa-file" aria-hidden="true"></i>
              Crear Tarea
            </button>
          </div>
        </div>
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tarea</th>
              <th>Fecha Inicial</th>
              <th>Fecha Límite</th>
              <th>Materia</th>
              <th>Administración</th>
            </tr>
          </thead>
          <tbody *ngFor="let assignment of myAssignments" >
            <tr *ngIf="assignment.active">
              <td>{{assignment.name}}</td>
              <td>{{dateF(assignment.start_date)}}</td>
              <td>{{dateF(assignment.end_date)}}</td>
              <td>{{searchGroup(assignment.crn)}}</td>
              <td>
                <button type="button" class="btn btn-info">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="pull-right">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#"><<</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">>></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <hr />
    <div class="row row-stat">
      <div class="table-responsive m-3">
        <h3>Tareas Inactivas</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tarea</th>
              <th>Fecha Inicial</th>
              <th>Fecha Limite</th>
              <th>Materia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assignment of inactive">
              <td>{{assignment.name}}</td>
              <td>{{dateF(assignment.start_date)}}</td>
              <td>{{dateF(assignment.end_date)}}</td>
              <td>{{searchGroup(assignment.crn)}}</td>
              <td>
                <button type="button" class="btn btn-dark (click)=details()">
                  <i
                    class="fa fa-code"
                    (click)="details()"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pull-right">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#"><<</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">>></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
