<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="table-responsive m-3">
        <div class="d-inline-flex">
          <div class="p-2"><h3>Mis Alumnos</h3></div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Matricula</th>
              <th>Materia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alumno</td>
              <td>A01730716</td>
              <td>Bases</td>
            </tr>
            <tr>
              <td>Alumno 2</td>
              <td>A01730716</td>
              <td>Bases</td>
            </tr>
            <tr>
              <td>Alumno 3</td>
              <td>A01730716</td>
              <td>Bases</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
