<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <h1>{{assignmentinfo.name}}</h1>
                <h4>Fecha de Entrega: 
                    {{getDayOfWeek(assignmentinfo.end_date)}}</h4>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <h5 class="card-header">Descripción</h5>
                    <div class="card-body">
                        <!-- <embed src="../../../../../grader-new-backend/public/testCases/assignmentinfo.crn/assignmentinfo.assignment_id/rules.pdf" width="800px" height="2100px" /> -->
                        <embed src="../../../../../grader-new-backend/public/testCases/36882/66/rules.pdf" type="application/pdf" width="100%" height="600px" />
                        
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <h5 class="card-header">Archivos Adjuntos</h5>
                    <div class="card-body">
                        <p class="card-text"><a href="#">ICA 2_1.txt</a></p>
                        <p class="card-text"><a href="#">Prueba1.txt</a></p>
                        <p class="card-text"><a href="#">Prueba2.txt</a></p>
                        <p class="card-text"><a href="#">Prueba3.txt</a></p>
                        <p class="card-text"><a href="#">Prueba4.txt</a></p>
                        <p class="card-text"><a href="#">Prueba5.txt</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <h5 class="card-header">Subir Intento</h5>
                    <div class="card-body">
                        <form [formGroup]="myForm" (ngSubmit)="submit()">
                            <div class="form-group">
                                <label for="file">Archivo</label>
                                <input 
                                    formControlName="file"
                                    id="file" 
                                    type="file" 
                                    class="form-control"
                                    (change)="onFileChange($event)">
                                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                    <div *ngIf="f.file.errors.required">File is required.</div>
                                </div>
                            </div>
                                  
                            <button class="btn btn-primary" type="submit" [disabled] = "!myForm.valid">Submit </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
