<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <h1>ICA 2.1</h1>
                <h4>Fecha de Entrega: Jueves 21 de Mayo de 2020 23:59:00</h4>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <h5 class="card-header">Descripción</h5>
                    <div class="card-body">
                        <p class="card-text">Los archivos "prueba6.txt", "prueba7.txt" y "prueba8.txt" contienen errores. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <h5 class="card-header">Archivos Adjuntos</h5>
                    <div class="card-body">
                        <p class="card-text"><a href="#">ICA 2_1.txt</a></p>
                        <p class="card-text"><a href="#">Prueba1.txt</a></p>
                        <p class="card-text"><a href="#">Prueba2.txt</a></p>
                        <p class="card-text"><a href="#">Prueba3.txt</a></p>
                        <p class="card-text"><a href="#">Prueba4.txt</a></p>
                        <p class="card-text"><a href="#">Prueba5.txt</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="card">
                    <h5 class="card-header">Subir Intento</h5>
                    <div class="card-body">
                        <form [formGroup]="myForm" (ngSubmit)="submit()">
                            <div class="form-group">
                                <label for="file">Archivo</label>
                                <input 
                                    formControlName="file"
                                    id="file" 
                                    type="file" 
                                    class="form-control"
                                    (change)="onFileChange($event)">
                                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                    <div *ngIf="f.file.errors.required">File is required.</div>
                                </div>
                            </div>
                                  
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
