<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <h1>Bienvenido André</h1>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item active">Próximas tareas</li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>ICA 2.1</h5>
                <h6>Estructura de Datos</h6>
                <small>21/05/2020</small>
              </div>
              <div class="col-4">
                <button
                  class="btn btn-outline-primary"
                  (click)="uploadAttempt()"
                >
                  Subir
                </button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>ICA 2.1</h5>
                <h6>Estructura de Datos</h6>
                <small>21/05/2020</small>
              </div>
              <div class="col-4">
                <button
                  class="btn btn-outline-primary"
                  (click)="uploadAttempt()"
                >
                  Subir
                </button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>ICA 2.1</h5>
                <h6>Estructura de Datos</h6>
                <small>21/05/2020</small>
              </div>
              <div class="col-4">
                <button
                  class="btn btn-outline-primary"
                  (click)="uploadAttempt()"
                >
                  Subir
                </button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <button class="btn btn-link btn-block">Ver Todo</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item active">Entregas pasadas</li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>ICA 2.1</h5>
                <h6>Estructura de Datos</h6>
                <small>10/05/2020</small>
              </div>
              <div class="col-4">
                <button class="btn btn-outline-primary">Ver</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>ICA 2.1</h5>
                <h6>Estructura de Datos</h6>
                <small>10/05/2020</small>
              </div>
              <div class="col-4">
                <button class="btn btn-outline-primary">Ver</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-8">
                <h5>ICA 2.1</h5>
                <h6>Estructura de Datos</h6>
                <small>10/05/2020</small>
              </div>
              <div class="col-4">
                <button class="btn btn-outline-primary">Ver</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <button class="btn btn-link btn-block">Ver Todo</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
