<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <h1>Bienvenido André</h1>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item active">Próximas tareas</li>
          
          <li *ngFor="let assignment of myAssignments" class="list-group-item">            
            <div class="row" *ngIf="assignment.active">
              <div class="col-8">
                <h5>{{assignment.name}}</h5>
                <h6>{{searchGroup(assignment.crn)}}</h6>
                <small>{{assignment.status}}</small>
                <br>
                <small>{{assignment.end_date}}</small>
              </div>
              <div class="col-4">
                <button
                  class="btn btn-outline-primary"
                  (click)="uploadAttempt(assignment.assignment_id)"
                >
                  Subir
                </button>
              </div>
            </div>
          </li>
          
          <li class="list-group-item">
            <div class="row">
              <button class="btn btn-link btn-block">Ver Todo</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item active">Entregas pasadas</li>
          <li class="list-group-item" *ngFor="let assignment of inactive">
            <div class="row" *ngIf="overdue(assignment.end_date)">
              <div class="col-8">
                <h5>{{assignment.name}}</h5>
                <h6>{{searchGroup(assignment.crn)}}</h6>
                <small>{{assignment.status}}</small>
                <br>
                <small>{{date(assignment.end_date)}}</small>
              </div>
              <div class="col-4">
                <button class="btn btn-outline-primary">Ver</button>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <button class="btn btn-link btn-block">Ver Todo</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
